<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your account</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h2>Account page</h2>
    <p th:text="${userInfo.email}"></p>
    <p th:text="${userInfo.locale}"></p>
    <p th:text="${userInfo.createdAt}"></p>
    <p th:text="${userInfo.updatedAt}"></p>
    <img th:src="@{${userInfo.pictureUrl}}" src="">
    <form method="post" th:action="@{/account}">
        <input type="text" placeholder="Full name"
               name="fullName" th:value="${userInfo.fullName}">
        <button type="submit">Update account</button>
    </form>
    <p style="color: red" th:text="${error}"></p>
    <a href="/">Go home</a>
</body>
</html>
