<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LHU friend</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h2>Home page</h2>
    <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Sign Out"/>
    </form>
    <a href="/account">Account</a>
</body>
</html>
